.scroll-to-top {
  position: fixed;
  bottom: 15px;
  right: 15px;
  padding: 10px;
  border-radius: 12px;
  background-color: #5372a1;
  cursor: pointer;
  border: none;
}

.scroll-to-top:hover {
  background-color: #4c678d;
}
